* {
  box-sizing: border-box;
  text-align: center;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app__wrapper {
  display: flex;
}

/* Hooks button */
.button {
  cursor: pointer;
  display: block;
  font-size: 1.3em;
  box-sizing: content-box;
  margin: 20px auto 0px;
  width: 70%;
  padding: 15px 20px;
  border-radius: 24px;
  border-color: transparent;
  background-color: white;
  box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.08);
  position: relative;
}

.sidebar {
  padding: 20px;
  width: 15%;
  --tw-bg-opacity: 1;
  background-color: rgba(0,95,255,var(--tw-bg-opacity));
}

.logout-button {
  height: 35px;
  border-radius: 20px;
  border: none;
  width: 135px;
  margin-top: 150px;
  --tw-bg-opacity: 1;
  background-color: white;
  color: black;
  cursor: pointer;
  font-weight: 700;
}

.buttonText {
  color: #4285f4;
  font-weight: bolder;
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 0px;
  position: absolute;
  left: 30px;
  align-items: center;
}

div {
box-sizing: border-box;
text-align: center;
width: 100%;
}

.str-chat__input-flat .rfu-file-upload-button {
  width: 1%;
}

span {
  white-space: nowrap;
}

li {
  text-align: left;
}